@use "../global/colors";
@use "../global/mixins";
@use "../util/queries";

.container {
   margin   : 0 auto;
   max-width: 1170px;
   width    : 100%;
}

.bg-color {
   @include mixins.bg-color(map-get($map: colors.$theme-color, $key: intense-red));
}

.red-line {
   background: map-get($map: colors.$theme-color, $key: intense-red);
   display   : block;
   height    : 4px;
   width     : 30px;
}