@use "../global/colors";
@use "../global/mixins";
@use "../util/queries";

.container {
   margin   : 0 auto;
   max-width: 1170px;
   width    : 100%;
}

.bg-color {
   @include mixins.bg-color(map-get($map: colors.$theme-color, $key: intense-red));
}