@mixin display-flex($align-items, $justify-content) {
    align-items    : $align-items;
    display        : flex;
    justify-content: $justify-content;
}

@mixin grid($grid-template-columns) {
    display              : grid;
    grid-template-columns: $grid-template-columns;
}

@mixin linear-bg($url) {
    background         : linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url($url);
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
}

@mixin background($url) {
    background         : url($url);
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
}

@mixin bg-color($color) {
    background-color: $color;
}

@mixin container($max-width) {
    margin   : 0 auto;
    max-width: $max-width;
    width    : 100%;
}