@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-01: "Montserrat", sans-serif;
$font-02: "Roboto", sans-serif;

@function rem($pixel, $context: 16) {
   @return math.div($pixel, $context) * 1rem;
}

$typography-sizes: (12:rem(12),
   14:rem(14),
   16:rem(16),
   20:rem(20),
   36:rem(36),
   40:rem(40),
   80:rem(80),
   100:rem(100),
   200:rem(200));

@mixin font($size) {
   font-family: $font-01;

   @if map-has-key($map: $typography-sizes, $key: $size) {
      font-size: map-get($map: $typography-sizes, $key: $size);
   }

   @else {
      @warn "Size #{$size}px não está definido em $typography-sizes."
   }
};


@mixin font-secondary($size){
   font-family: $font-02;

   @if map-has-key($map: $typography-sizes, $key: $size){
      font-size: map-get($map: $typography-sizes, $key: $size);
   }

   @else{
      @warn "Size #{$size}px não está definido em $typography-sizes.";
   }
}

@mixin pixel-to-rem($size) {
   font-size: rem($size);
}