.container,
.container-bottom {
    display: flex;
    flex-wrap: wrap;
}

.vermelho {
    background-color: var(--cor-07);
    background: linear-gradient(to right, var(--cor-07) 80%, var(--cor-05) 0);
}

.number {
    color: var(--cor-06);
    font-size: 6em;
    font-weight: 700;
    position: absolute;
    right: -11px;
    top: 50px;
}

.container-item {
    flex: 1;
    overflow: hidden;
    padding: 100px;
    position: relative;
}

.imagem-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.imagem-sobre {
    background-image: url("../../assets/images/section-about.jpg");
}

.container-item h2 {
    color: var(--cor-02);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.26px;
    line-height: 37px;
}

.container-item span {
    color: var(--cor-07);
    font-weight: bolder;
    margin-right: 10px;
}

.container-item .paragrafo {
    color: var(--cor-04);
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.26px;
    line-height: 45px;
    margin-top: 80px;
    max-width: 350px;
}

.container-texto {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
}

.container-links {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    font-weight: 700;
    gap: 70px;
    margin-bottom: 50px;
}

.container-links a {
    color: var(--cor-03);
}

.container-links a::after {
    background-color: var(--cor-07);
    content: "";
    display: block;
    height: 2px;
    margin-top: 4px;
    transition: .3s;
    width: 0;
}

.container-links a:first-of-type::after {
    width: 100%;
}

.container-links a:hover::after {
    width: 100%;
}

.container-texto .container-paragrafo {
    color: var(--cor-08);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
    .container-item {
        padding: 40px;
    }

    .container-item .paragrafo {
        font-size: 1.5rem;
        line-height: 35px;
        margin-top: 50px;
    }

    .container-bottom {
        flex-direction: column;
        margin-top: 50px;
    }

    .container-texto {
        align-items: flex-start;
    }
}

@media screen and (max-width: 760px) {
    .container {
        flex-direction: column;
    }

    .imagem-bg {
        min-height: 350px;
    }

    .container-bottom {
        margin-top: 10px;
    }

    .container-links {
        flex-direction: column;
        gap: 30px;
    }
}