@use "../global/mixins";
@use "../global/colors";
@use "../global/typography";
@use "../global/placeholders"as *;
@use "../util/queries";
@use "../global/prefixes";

.carousel {
    height  : 100%;
    position: relative;
    width   : 100%;

    &__item {
        height    : 100%;
        inset     : 0;
        opacity   : 0;
        position  : absolute;
        padding   : 0 60px;
        transition: 1s ease-in-out;
        width     : 100%;
        z-index   : -1;

        @include queries.devices-t-and-m() {
            padding: 3%;
        }

        &:nth-child(1) {
            @include mixins.linear-bg("../images/carousel-01.jpg");
            z-index: 3;
        }

        &:nth-child(2) {
            @include mixins.linear-bg("../images/carousel-02.jpg");
            z-index: 2;
        }

        &:nth-child(3) {
            @include mixins.linear-bg("../images/carousel-03.jpg");
            z-index: 1;
        }
    }

    &__container {
        @extend %uppercase;
        @include mixins.grid(100px auto);
        align-content: center;
        margin       : 0 auto;
        max-width    : 1140px;
        height       : 100%;
        width        : 100%;

        @include queries.devices-t-and-m() {
            grid-template-columns: 1fr;
            gap                  : 1rem;
        }

        &-line {
            background-color: map-get($map: colors.$theme-color, $key: intense-red);
            height          : 6px;
            align-self      : flex-start;
            margin          : 80px 0;
            width           : 50px;

            @include queries.devices(t) {
                margin-bottom: 60px;
                width        : 44%;
            }

            @include queries.devices(m) {
                margin-bottom: 20px;
                width        : 44%;
            }
        }

        &-desc {
            width: 100%;

            p {
                @include typography.font(16);
                color         : map-get($map: colors.$theme-color, $key: pale-gray);
                font-weight   : 500;
                letter-spacing: 0.26px;
                margin-bottom : 20px;
            }

            span {
                @include typography.font(80);
                color         : map-get($map: colors.$theme-color, $key: pure-white);
                display       : block;
                font-weight   : 700;
                letter-spacing: 0.26px;
                max-width     : 13ch;

                @include queries.devices(t) {
                    @include typography.pixel-to-rem(62);
                }

                @include queries.devices(m) {
                    @include typography.pixel-to-rem(32);
                }
            }
        }
    }

    &__dots {
        @include mixins.display-flex(center, center);
        bottom    : 30px;
        position  : absolute;
        text-align: center;
        width     : 100%;
        z-index   : 9;

        &-dot {
            background: transparent;
            border    : none;
            cursor    : pointer;
            display   : inline-block;
            outline   : none;
            padding   : 6px 5px;

            span {
                @include prefixes.prefix(box-shadow, 1px 1px 0 rgba(0, 0, 0, 0.1));
                background: rgba(255, 255, 255, .5);
                display   : block;
                height    : 3px;
                transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
                width     : 30px;
            }
        }
    }
}

.active-dot {
    background-color: map-get($map: colors.$theme-color, $key: pure-white) !important;
}

.active-carousel {
    opacity: 1;
}