@use "../global/mixins";
@use "../global/colors";
@use "../global/typography";
@use "../global/placeholders"as *;
@use "../util/queries";

.carousel {
    height  : 100%;
    position: relative;
    width   : 100%;
    z-index : -999;

    &__item {
        height     : 100%;
        // inset   : 0;
        // position: absolute;
        padding    : 0 60px;
        width      : 100%;

        @include queries.devices-t-and-m() {
            padding: 3%;
        }
    }

    &__container {
        background-color: bisque;
        @extend %uppercase;
        @include mixins.grid(100px auto);
        align-content: center;
        margin       : 0 auto;
        max-width    : 1140px;
        height       : 100%;
        width        : 100%;

        @include queries.devices-t-and-m() {
            grid-template-columns: 1fr;
            gap                  : 1rem;
        }

        &-line {
            background-color: map-get($map: colors.$theme-color, $key: intense-red);
            height          : 6px;
            align-self      : flex-start;
            margin          : 80px 0;
            width           : 50px;

            @include queries.devices(t) {
                margin-bottom: 60px;
                width        : 44%;
            }

            @include queries.devices(m) {
                margin-bottom: 20px;
                width        : 44%;
            }
        }

        &-desc {
            width: 100%;

            p {
                @include typography.font(16);
                color         : map-get($map: colors.$theme-color, $key: pale-gray);
                font-weight   : 500;
                letter-spacing: 0.26px;
                margin-bottom : 20px;
            }

            span {
                @include typography.font(80);
                color         : map-get($map: colors.$theme-color, $key: pure-white);
                display       : block;
                font-weight   : 700;
                letter-spacing: 0.26px;
                max-width     : 13ch;

                @include queries.devices(t) {
                    @include typography.pixel-to-rem(62);
                }

                @include queries.devices(m) {
                    @include typography.pixel-to-rem(32);
                }
            }
        }
    }
}