@use "../global/colors";
@use "../global/typography";
@use "../global/placeholders"as *;
@use "../util/queries";

.quote {
    width: 100%;

    &__icon {
        height       : 80px;
        margin-bottom: 40px;
        position     : relative;
        width        : 80px;

        &::after {
            @include typography.font(200);
            content    : "“";
            color      : map-get($map: colors.$theme-color, $key: absolute-black);
            display    : block;
            font-weight: 600;
            left       : -6px;
            position   : absolute;
            text-align : center;
            top        : -30px;
        }
    }

    &__description {
        @include typography.font(20);
        color         : map-get($map: colors.$theme-color, $key: pure-white);
        font-weight   : 600;
        letter-spacing: 0.26px;
        margin-bottom : 40px;
        position      : relative;
    }

    &__author {
        @include typography.font(14);
        @extend %uppercase;
        color        : map-get($map: colors.$theme-color, $key: pure-white);
        display      : block;
        font-weight  : 600;
        margin-bottom: 8px;
    }

    &__enterprise {
        @include typography.font(12);
        @extend %uppercase;
        color      : map-get($map: colors.$theme-color, $key: absolute-black);
        display    : block;
        font-weight: 500;
    }
}