@use "../global/colors";
@use "../global/typography";
@use "../global/mixins";
@use "../global/placeholders"as *;
@use "../util/queries";
@use "../global/keyframes";

.tab {
    width: 100%;

    &__list {
        @include mixins.display-flex(center, start);
        flex-wrap    : wrap;
        gap          : 26px;
        margin-bottom: 8%;
        width        : 100%;

        @include queries.devices(t) {
            margin-bottom: 4%;
        }

        @include queries.devices(m) {
            gap: 8px;
        }

        li {
            @include queries.devices(m) {
                flex-basis: 100%;
            }
        }

        &-button {
            @include typography.font(14);
            @extend %uppercase;
            border     : none;
            background : transparent;
            color      : map-get($map: colors.$theme-color, $key: steel-gray);
            cursor     : pointer;
            display    : inline-block;
            font-weight: 600;
            padding    : 10px 0;
            position   : relative;
            transition : .3s ease-in-out;

            &::after {
                background: map-get($map: colors.$theme-color, $key: intense-red);
                bottom    : 0;
                content   : "";
                height    : 2px;
                left      : 0;
                position  : absolute;
                transition: .3s ease-in-out;
                width     : 0;
            }

            &:hover {
                color: map-get($map: colors.$theme-color, $key: velvety-black);
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    &__contents {
        overflow: hidden;
        width   : 100%;

        &-item {
            display   : none;
            opacity   : 0;
            transition: .3s ease-in-out;

            @include queries.devices(l) {
                height: 320px;
            }

            p {
                @include typography.font-secondary(14);
                color        : map-get($map: colors.$theme-color, $key: charcoal);
                line-height  : 24px;
                margin-bottom: 20px;
                width        : 78%;

                @include queries.devices-t-and-m() {
                    width: 100%;
                }
            }
        }
    }
}

.tab__button-active {
    color: map-get($map: colors.$theme-color, $key: velvety-black);

    &::after {
        width: 100%;
    }
}

.tab__content-active {
    @include keyframes.fadeEffect();
    display: block;
    opacity: 1;
}