html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.texto-transform {
    text-transform: uppercase;
}

section .column-bottom form {
    margin-top: -5%;
    padding: 1% 15%;
    width: 100%;
}

section .column-bottom form .form-element {
    margin: 2% 0;
    width: 100%;
}

.column-bottom form .form-element input,
.column-bottom form .form-element select,
.column-bottom form .form-element textarea {
    border: 2px solid #dfdfdf;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    padding: 12px 18px;
    transition: 2s;
    width: 100%;
}

.column-bottom form .form-element textarea {
    resize: none;
}

.column-bottom form .form-element button {
    background-color: var(--dark-black);
    border: none;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: 1s;
    padding: 14px 16px;
    width: 50%;
}

.column-bottom form .form-element button:hover {
    background-color: var(--white);
    border: 2px solid var(--dark-black);
    color: var(--dark-black);
}

section .contact-itens {
    align-items: center;
    display: flex;
    padding: 15px;
}

section .contact-itens .contact-itens__icon {
    margin-right: 5%;
    text-align: center;
}

section .contact-itens .contact-itens__icon i {
    font-size: 3em;
    color: var(--white);
}

section .contact-itens .contact-itens__text p {
    color: var(--white);
    font-weight: normal;
    line-height: 1.6em;
    text-transform: uppercase;
}

footer {
    border-top: 1px solid var(--light-gray);
    margin-top: 5%;
    padding: 5%;
}

footer .footer-content {
    margin-bottom: 5%;
    text-align: center;
}

footer .footer-content a {
    margin: 0 5px;
}

footer .footer-content img {
    height: 32px;
    width: 32px;
}

footer .footer-content a:hover {
    opacity: 0.7;
}

footer .hr-footer {
    background-color: var(--light-gray);
    border: none;
    content: "";
    height: 1px;
}

footer p {
    color: var(--dark-gray);
    font-size: 0.7em;
    margin: 2% 0;
    text-align: center;
}