html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.texto-transform {
    text-transform: uppercase;
}

section .section-team-projects {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5%;
    padding: 2% 8%;
    width: 100%;
}

section .section-team-projects .card-team__projects {
    padding: 1%;
    text-align: center;
    width: 24%;
}

.section-team-projects .card-team__projects:not(.card-team__projects:last-child) {
    border-right: 1px solid var(--light-gray);
}

section .section-team-projects .card-team__projects h3 {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 2%;
}

section .section-team-projects .card-team__projects span {
    color: var(--dark-gray);
    font-size: 0.7em;
    text-transform: uppercase;
}

section .section-blog,
section .section-comments {
    display: flex;
    flex-wrap: wrap;
    margin: -4px auto;
    overflow: hidden;
    width: 80%;
}

section .section-blog .row-card__blog {
    display: flex;
    flex-direction: row;
    width: 50%;
}

section .section-blog .card-blog {
    cursor: pointer;
    overflow: hidden;
    width: 50%;
}

section .section-blog .card-blog img {
    height: 100%;
    transition: transform 2s ease;
    width: 100%;
}

section .section-blog .card-blog:hover img {
    transform: scale(1.2);
}

section .card-blog .card-blog__texts {
    padding: 25% 10%;
}

section .card-blog .card-blog__texts span {
    color: var(--dark-gray);
    font-size: 0.7em;
    text-transform: uppercase;
}

section .card-blog .card-blog__texts p {
    color: var(--black);
    font-weight: bolder;
    margin: 10% 0;
    text-transform: uppercase;
}

section .card-blog .card-blog__texts p:hover {
    color: var(--dark-black);
}

section .section-comments {
    background-color: #9b9b9b;
    overflow: hidden;
    z-index: 2;
}

section .section-comments .section-comments__left,
section .section-comments .section-comments__right {
    height: 580px;
    width: 50%;
}

section .section-comments .section-comments__left {
    background-color: var(--gray);
}

section .section-comments .section-comments__left .comment {
    display: flex;
    margin: 20% auto;
    width: 80%;
}

.section-comments .section-comments__left .comment img {
    height: 100px;
    width: 100px;
}

.section-comments__left .comment .comment-texts {
    margin-left: 10%;
    position: relative;
}

.section-comments__left .comment .comment-texts p {
    font-size: 0.8em;
    font-weight: 500;
}

.section-comments__left .comment .comment-texts p:first-of-type {
    color: var(--dark-gray);
    margin-bottom: 8%;
}

.section-comments__left .comment .comment-texts span {
    color: var(--dark-gray);
    font-size: 0.7em;
}

.section-comments__left .comment .comment-texts p::before {
    content: "“";
    color: var(--red);
    display: block;
    font-weight: normal;
    font-size: 7em;
    position: absolute;
    top: -50%;
    left: 0;
}

section .section-comments .section-comments__right {
    background-color: var(--red);
    margin: 0;
}

section#contact {
    width: 100%;
}

section .section-contact {
    margin-top: 4px;
}

section .column-bottom form {
    margin-top: -5%;
    padding: 1% 15%;
    width: 100%;
}

section .column-bottom form .form-element {
    margin: 2% 0;
    width: 100%;
}

.column-bottom form .form-element input,
.column-bottom form .form-element select,
.column-bottom form .form-element textarea {
    border: 2px solid #dfdfdf;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    padding: 12px 18px;
    transition: 2s;
    width: 100%;
}

.column-bottom form .form-element textarea {
    resize: none;
}

.column-bottom form .form-element button {
    background-color: var(--dark-black);
    border: none;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: 1s;
    padding: 14px 16px;
    width: 50%;
}

.column-bottom form .form-element button:hover {
    background-color: var(--white);
    border: 2px solid var(--dark-black);
    color: var(--dark-black);
}

section .contact-itens {
    align-items: center;
    display: flex;
    padding: 15px;
}

section .contact-itens .contact-itens__icon {
    margin-right: 5%;
    text-align: center;
}

section .contact-itens .contact-itens__icon i {
    font-size: 3em;
    color: var(--white);
}

section .contact-itens .contact-itens__text p {
    color: var(--white);
    font-weight: normal;
    line-height: 1.6em;
    text-transform: uppercase;
}

footer {
    border-top: 1px solid var(--light-gray);
    margin-top: 5%;
    padding: 5%;
}

footer .footer-content {
    margin-bottom: 5%;
    text-align: center;
}

footer .footer-content a {
    margin: 0 5px;
}

footer .footer-content img {
    height: 32px;
    width: 32px;
}

footer .footer-content a:hover {
    opacity: 0.7;
}

footer .hr-footer {
    background-color: var(--light-gray);
    border: none;
    content: "";
    height: 1px;
}

footer p {
    color: var(--dark-gray);
    font-size: 0.7em;
    margin: 2% 0;
    text-align: center;
}

/* 
/*Media Queries
@media screen and (min-width:360px) and (max-width: 768px) {
    section .column {
        width: 100%;
    }

    section .column-bottom:last-child {
        width: 100%;
        margin-right: 0;
    }

    section .column-bottom:last-child p.column-bottom__paragraph::before {
        font-size: 10em;
        left: 5%;
        top: 25%;
    }

    section .column-bottom .column-bottom__menu {
        flex-direction: column;
    }

    section .column-bottom {
        height: auto;
    }

    section .column-bottom .column-bottom__menu a:not(a:last-child) {
        margin-bottom: 6%;
    }

    section .service-content {
        flex-direction: column;
        margin: 0 2%;
        width: 100%;
    }

    section .service-content .service-content__card {
        width: 100%;
    }

    section .projects-content .projects-content__img {
        width: 100%;
    }

    section .section-team .card-team {
        width: 100%;
    }

    section .section-team .card-team .overlay-team {
        bottom: 0;
        width: 100%;
    }

    section .section-team-projects .card-team__projects {
        margin: 1% 0;
        width: 100%;
    }

    .section-team-projects .card-team__projects:not(.card-team__projects:last-child) {
        border-right: none;
    }

    section .section-blog {
        width: 100%;
    }

    section .section-blog .row-card__blog {
        width: 100%;
    }

    section .section-blog .row-card__blog:nth-child(2),
    section .section-blog .row-card__blog:nth-child(3) {
        flex-direction: row-reverse;
    }

    section .card-blog .card-blog__texts p {
        font-size: 0.7em;
    }

    section .section-comments {
        width: 100%;
    }

    section .section-comments .comment {
        align-items: center;
        width: 100%;
    }

    section .section-comments .section-comments__left,
    section .section-comments .section-comments__right {
        height: auto;
        width: 100%;
    }

    .section-comments__left .comment .comment-texts p::before {
        top: -38%;
    }

    section .column-bottom form {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    section .column-bottom form .form-element {
        width: 100%;
    }

    section .contact-itens {
        flex-direction: column;
    }

    section .contact-itens .contact-itens__text {
        margin-top: 1%;
        text-align: center;
    }
} */