.blog-bg {
    background-image: url("../../assets/images/section-blog.jpg");
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.blog-container .blog-item,
.blog-container .comentarios-bg {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    width: 100%;
}

.blog-item .blog-imagens {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.blog-imagens .blog-card {
    flex: 1 0 300px;
}

.blog-item .blog-imagens:nth-child(even) {
    flex-direction: row-reverse;
}

.blog-imagens .blog-img {
    cursor: pointer;
    overflow: hidden;
}

.blog-imagens .blog-img img {
    height: 100%;
    transition: transform 2s;
}

.blog-imagens .blog-img:hover img {
    transform: scale(1.2);
}

.blog-imagens .blog-texto {
    display: flex;
    flex-direction: column;
    padding: 45px;
}

.blog-imagens .blog-texto a {
    color: var(--cor-03);
    font-size: 0.687rem;
    font-weight: 500;
    letter-spacing: 0.26px;
    line-height: 20px;
}

.blog-imagens .blog-texto a:hover {
    color: var(--cor-08);
}

.blog-imagens .blog-texto p {
    color: var(--cor-08);
    font-size: 0.937rem;
    font-weight: 600;
    letter-spacing: 0.26px;
    line-height: 20px;
    margin: 14px 0;
}

.blog-imagens .blog-texto hr {
    border: none;
    background-color: var(--cor-07);
    height: 4px;
    margin-top: 24px;
    width: 30px;
}

.blog-comentarios {
    background-color: var(--cor-05);
    padding: 90px 90px 0;
}

.blog-comentarios .comentario-item {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    justify-content: center;
}

.blog-comentarios .comentario-item img {
    border-radius: 50%;
    height: 94px;
    width: 94px;
}

.comentario-item .comentario-texto {
    position: relative;
}

.comentario-item .comentario-texto::before {
    color: var(--cor-07);
    content: "“";
    font-size: 6.25rem;
    font-weight: 500;
    letter-spacing: 0.26px;
    line-height: 0;
    margin-left: 41px;
    position: absolute;
}

.comentario-item .comentario-texto p {
    font-size: 0.812rem;
    letter-spacing: 0.26px;
    line-height: 23px;
    margin-left: 41px;
}

.comentario-item .comentario-texto p:first-of-type {
    color: var(--cor-08);
    font-weight: 500;
    margin-bottom: 10px;
}

.comentario-item .comentario-texto p:last-of-type {
    color: var(--cor-10);
    font-weight: 600;
}

.comentario-item .comentario-texto span {
    color: var(--cor-09);
    display: block;
    font-size: 0.687rem;
    font-weight: 500;
    letter-spacing: 0.26px;
    line-height: 20px;
    margin-left: 41px;
}

.blog-citacao {
    background-color: var(--cor-07);
    width: 100%;
}

.blog-citacao .container-citacao {
    margin-right: 0;
}

@media screen and (max-width: 800px) {
    .blog-container .blog-item {
        margin: 0 auto;
    }

    .blog-comentarios {
        padding-left: 20px;
        padding-right: 20px;
    }

    .blog-container .comentarios-bg {
        max-width: 800px;
    }
}

@media screen and (max-width: 600px) {
    .comentario-item {
        flex-direction: column-reverse;
    }

    .comentario-item .comentario-texto p:last-of-type,
    .comentario-item .comentario-texto span {
        text-align: center;
    }
}