.blog-bg {
    background-image: url("../../assets/images/section-blog.jpg");
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
    padding: 130px 2%;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.blog-container .blog-item {
    flex: 1 0 250px;
}

.blog-item .blog-img {
    cursor: pointer;
    overflow: hidden;
}

.blog-item .blog-img img {
    height: 100%;
    transition: transform 2s;
}

.blog-item .blog-img:hover img {
    transform: scale(1.2);
}

.blog-item figcaption {
    display: flex;
    flex-direction: column;
}

.blog-item figcaption a {
    color: var(--cor-03);
    font-size: 0.687rem;
    font-weight: 500;
    letter-spacing: 0.26px;
    line-height: 20px;
}

.blog-item figcaption a:hover {
    color: var(--cor-08);
}

.blog-item figcaption p {
    color: var(--cor-08);
    font-size: 0.937rem;
    font-weight: 600;
    letter-spacing: 0.26px;
    line-height: 20px;
    margin: 14px 0;
}

.blog-item figcaption hr {
    border: none;
    background-color: var(--cor-07);
    height: 4px;
    margin-top: 24px;
    width: 30px;
}

@media screen and (max-width: 800px) {}