.contato-bg {
    background-image: url("../../assets/images/section-contact.jpg");
}

.contato-formulario {
    background-color: darkblue;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}

.contato-formulario input,
.contato-formulario select,
.contato-formulario textarea {
    width: 100%;
}

/*VisBug*/