footer {
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin-top: 130px;
}

footer .footer-container {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin: 0 auto;
    max-width: 1200px;
    padding: 57px 2%;
    text-align: center;
    width: 100%;
}

footer .footer-container a {
    margin: 0 5px;
}

footer .footer-container img {
    height: 32px;
    width: 32px;
}

footer .footer-container a:hover {
    opacity: 0.7;
}

footer p {
    color: var(--cor-08);
    font-size: 0.687rem;
    font-weight: 500;
    letter-spacing: 0.26px;
    line-height: 23px;
    padding: 30px 2%;
    text-align: center;
}