.projetos-bg {
    background-color: var(--cor-07);
    position: relative;
    min-height: 535px;
}

.projetos-menu {
    bottom: 80px;
    max-width: 280px;
    position: absolute;
    right: 50px;
    width: 100%;
}

.projetos-menu li {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: inline-block;
    padding: 17px 0;
    text-align: right;
    width: 100%;
}

.projetos-menu li:last-child {
    border-bottom: none;
}

.projetos-menu li a {
    color: var(--cor-06);
    font-size: 0.937rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.26rem;
    line-height: 17px;
    transition: .3s;
}

.projetos-menu li a:hover {
    color: var(--cor-01);
}

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
}

.projetos-imagens {
    cursor: pointer;
    flex: 1 0 320px;
    margin-bottom: -4px;
    overflow: hidden;
    position: relative;
}

.projetos-imagens img {
    transition: transform .3s;
}

.projetos-imagens:hover img {
    transform: scale(1.1);
}

.projetos-imagens .overflow-img {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    transition: .5s ease;
    right: 0;
    width: 100%;
}

.projetos-imagens .overflow-img hr {
    background-color: var(--cor-07);
    border: none;
    height: 4px;
    width: 30px;
}

.projetos-imagens .overflow-img h3 {
    color: var(--cor-06);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 25px;
    opacity: 1;
    padding: 30px 15px 10px 15px;
}

.projetos-imagens .overflow-img span {
    color: var(--cor-09);
    font-size: 0.687rem;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 20px;
}

.projetos-imagens:hover .overflow-img {
    opacity: 1;
}

@media screen and (max-width: 750px) {
    .projetos-menu {
        right: 20px;
    }
}