.projetos-bg {
    background-color: var(--cor-07);
    position: relative;
    min-height: 535px;
}

.projetos-menu {
    bottom: 80px;
    max-width: 280px;
    position: absolute;
    right: 50px;
    width: 100%;
}

.projetos-menu li {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: inline-block;
    padding: 17px 0;
    text-align: right;
    width: 100%;
}

.projetos-menu li:last-child {
    border-bottom: none;
}

.projetos-menu li a {
    color: var(--cor-06);
    font-size: 0.937rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.26rem;
    line-height: 17px;
    transition: .3s;
}

.projetos-menu li a:hover {
    color: var(--cor-01);
}

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
}

.projetos-imagens {
    cursor: pointer;
    flex: 1 0 320px;
    margin-bottom: -4px;
    overflow: hidden;
    position: relative;
}

.projetos-imagens img {
    transition: transform .3s;
    width: 100%;
}

/* 
.projetos-imagens .overflow-img {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: var(--var-06);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    transform: scale(0);
    transition: transform .3s ease;
    right: 0;
    width: 100%;
}

.projetos-imagens .overflow-img hr {
    background-color: var(--var-07);
    border: none;
    height: 5px;
    left: 45%;
    position: absolute;
    top: 60%;
    transform: rotate(-50%, -50%);
    text-align: center;
    width: 10px;
}

.projetos-imagens .overflow-img .overflow-text {
    font-size: 0.8em;
    left: 50%;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
}

.projetos-imagens.overflow-img span.overflow-text {
    color: var(--cor-02);
    top: 76%;
}

.projetos-imagens:hover .overflow-img {
    transform: scale(1.1);
}

.projetos-imagens:hover img {
    transform: scale(1.1);
} */

@media screen and (max-width: 750px) {
    .projetos-menu {
        right: 20px;
    }
}