@use "../global/mixins";
@use "../global/colors";
@use "../global/typography";
@use "../global/placeholders"as *;

.footer {
    padding   : 120px 0 0;
    text-align: center;

    &__container {
        border-top   : 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        padding      : 60px 0;
    }

    &__list {
        @include mixins.display-flex(center, center);
        gap  : 1rem;
        width: 100%;

        li {
            height  : 30px;
            overflow: hidden;
            width   : 30px;

            a {
                display: inline-block;

                img {
                    object-fit: cover;
                    transition: .3s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    &__copyright {
        @include typography.font(12);
        @extend %uppercase;
        color      : map-get($map: colors.$theme-color, $key: charcoal);
        font-weight: 500;
        padding    : 30px 0;
        text-align : center;
    }
}